In [4]:
print("<<SQL Fundamentals for Data Analysts>>","أساسيات SQL لمحللي البيانات")
print("<<أساسيات SQL لمحللي البيانات>>")

<<SQL Fundamentals for Data Analysts>> أساسيات SQL لمحللي البيانات
<<أساسيات SQL لمحللي البيانات>>

In [5]:
print("SQL Fundamentals for Data Analysts>>Module 1>>Course Overview")

SQL Fundamentals for Data Analysts>>Module 1>>Course Overview

In [8]:
print(">>SQL Fundamentals","أساسيات SQL<<")

>>SQL Fundamentals أساسيات SQL<<

In [10]:
print("Course Objectives","أهداف الدورة")

Course Objectives أهداف الدورة

In [13]:
print("1>>Basic SQL Queries","استعلامات SQL الأساسية")
print("Retrieve and filter data from a relational database using basic SQL syntax.","استرداد البيانات وتصفيتها من قاعدة بيانات علائقية باستخدام بناء جملة SQL الأساسي.")

1>>Basic SQL Queries استعلامات SQL الأساسية
Retrieve and filter data from a relational database using basic SQL syntax. استرداد البيانات وتصفيتها من قاعدة بيانات علائقية باستخدام بناء جملة SQL الأساسي.

In [16]:
print("2>>Manipulating Values","التلاعب بالقيم")
print("Transform your data with the help of numerical, date and text functions.","قم بتحويل بياناتك بمساعدة الوظائف الرقمية والتاريخية والنصية.")

2>>Manipulating Values التلاعب بالقيم
Transform your data with the help of numerical, date and text functions. قم بتحويل بياناتك بمساعدة الوظائف الرقمية والتاريخية والنصية.

In [19]:
print("3>>SQL Theory","نظرية SQL")
print("Understand essential terminology related to SQL, databases and data warehouses.","فهم المصطلحات الأساسية المتعلقة بـSQL وقواعد البيانات ومستودعات البيانات.")

3>>SQL Theory نظرية SQL
Understand essential terminology related to SQL, databases and data warehouses. فهم المصطلحات الأساسية المتعلقة بـSQL وقواعد البيانات ومستودعات البيانات.

In [22]:
print("4>>Working With Multiple Tables.","العمل مع جداول متعددة.")
print("Write queries that combine data from multiple tables.","اكتب استعلامات تجمع البيانات من جداول متعددة.")

4>>Working With Multiple Tables. العمل مع جداول متعددة.
Write queries that combine data from multiple tables. اكتب استعلامات تجمع البيانات من جداول متعددة.

In [26]:
print("5>>SQL for Reporting","SQL لإعداد التقارير")
print("Use SQL in popular BI tools, and learn how to summarize the results of SQL queries.","استخدم SQL في أدوات BI الشائعة، وتعلم كيفية تلخيص نتائج استعلامات SQL.")

5>>SQL for Reporting SQL لإعداد التقارير
Use SQL in popular BI tools, and learn how to summarize the results of SQL queries. استخدم SQL في أدوات BI الشائعة، وتعلم كيفية تلخيص نتائج استعلامات SQL.

In [31]:
print(">>Business Intelligence & Data Analysis<<","ذكاء الأعمال وتحليل البيانات")

>>Business Intelligence & Data Analysis<< ذكاء الأعمال وتحليل البيانات

In [32]:
print("Select CustomerKey as CustomerID, Sum(SalesAmount) as SalesAmount")
print("FROM FactInternetSales")
print("Where year(OrderDate) > 2010")
print("Group BY CustomerKey")
print("HAVING Sum(SalesAmount) > 10000")
print("ORDER BY SalesAmount DESC")

Select CustomerKey as CustomerID, Sum(SalesAmount) as SalesAmount
FROM FactInternetSales
Where year(OrderDate) > 2010
Group BY CustomerKey
HAVING Sum(SalesAmount) > 10000
ORDER BY SalesAmount DESC

In [34]:
print("SQL Fundamentals for Data Analysts>>Module 2>>Introduction","أساسيات SQL لمحللي البيانات")

SQL Fundamentals for Data Analysts>>Module 2>>Introduction أساسيات SQL لمحللي البيانات

In [36]:
print(">>Basic SQL Queries - Section Objectives<<",">>استعلامات SQL الأساسية - أهداف القسم<<")

>>Basic SQL Queries - Section Objectives<< >>استعلامات SQL الأساسية - أهداف القسم<<

In [38]:
print("01)Retrieve data from a relational database using basic SQL queries.")
print("استرداد البيانات من قاعدة بيانات علائقية باستخدام استعلامات SQL الأساسية.")

01)Retrieve data from a relational database using basic SQL queries.
استرداد البيانات من قاعدة بيانات علائقية باستخدام استعلامات SQL الأساسية.

In [40]:
print("02)Filter the results and remove duplicate values.")
print("تصفية النتائج وإزالة القيم المكررة.")

02)Filter the results and remove duplicate values.
تصفية النتائج وإزالة القيم المكررة.

In [47]:
print("1>>Order of Operations","ترتيب العمليات")
print("2>>Select FROM","اختر من")
print("3>>WHERE","أين")
print("4>>Group By and Having","تجميع حسب وامتلاك")
print("5>>Order By","ترتيب حسب")
print("6>>Top N, OFFSET-FETCH, DISTINCT","أعلى N، جلب الإزاحة، مميز")

1>>Order of Operations ترتيب العمليات
2>>Select FROM اختر من
3>>WHERE أين
4>>Group By and Having تجميع حسب وامتلاك
5>>Order By ترتيب حسب
6>>Top N, OFFSET-FETCH, DISTINCT أعلى N، جلب الإزاحة، مميز

In [49]:
print(">>Installation and Introduction to Azure Data Studio<<")
print("التثبيت والتعريف بـ Azure Data Studio")

>>Installation and Introduction to Azure Data Studio<<
التثبيت والتعريف بـ Azure Data Studio

In [50]:
print("Download and Install Azure Data Studio","تنزيل وتثبيت Azure Data Studio")

Download and Install Azure Data Studio تنزيل وتثبيت Azure Data Studio

In [51]:
print(">>Install Azure Data Studio<<")
print(">>Download and Install Azure Data Studio<<")

>>Install Azure Data Studio<<
>>Download and Install Azure Data Studio<<

In [52]:
print(">>Learn Azure Azure Data Studio Download and install Azure Data Studio<<")

>>Learn Azure Azure Data Studio Download and install Azure Data Studio<<

In [53]:
print(">>Creating a Connection to a Database<<","إنشاء اتصال بقاعدة البيانات")

>>Creating a Connection to a Database<< إنشاء اتصال بقاعدة البيانات

In [54]:
print(">>Creating a Connection to a Database<<","إنشاء اتصال بقاعدة البيانات")

>>Creating a Connection to a Database<< إنشاء اتصال بقاعدة البيانات

In [56]:
print("<<Create a connection","إنشاء اتصال>>")

<<Create a connection إنشاء اتصال>>

In [58]:
print(">>Creating a Connection to a Database<<",">>إنشاء اتصال بقاعدة البيانات<<")

>>Creating a Connection to a Database<< >>إنشاء اتصال بقاعدة البيانات<<

In [59]:
print(">>What is Adventure Works?<<","ما هو Adventure Works؟")

>>What is Adventure Works?<< ما هو Adventure Works؟

In [62]:
print(">>Example SQL Code<<","مثال على كود SQL<<")

>>Example SQL Code<< مثال على كود SQL<<

In [63]:
print(">>Example SQL Code<<","مثال على كود SQL")

>>Example SQL Code<< مثال على كود SQL

In [72]:
print(">>Azure Data Studio<<")
print("-----------------")
print("Select CustomerKey as CustomerID, SUM(SalesAmount) as SalesAmount")
print("From FactInternetSales")
print("Where year(OrderDate) > 2010")
print("Group By CustomerKey")
print("Having SUM(SalesAmount) > 10000")
print("Order By SalesAmount Desc")
print("------------------")
print(">>>Azure Data Studio<<<")
print(">>1>>Create a connection<<","إنشاء اتصال")
print(">>2>>Home>DESKTOP-04201TI\AHMEDABDELMONEM<<")
print(">>3>>Choose Database")
print(">>4>>Databases")
print(">>5>>Choose Database")
print(">>6>>New Query")
print(">>7>>Write Code")
print(">>8>>Run")
print("------------------")

>>Azure Data Studio<<
-----------------
Select CustomerKey as CustomerID, SUM(SalesAmount) as SalesAmount
From FactInternetSales
Where year(OrderDate) > 2010
Group By CustomerKey
Having SUM(SalesAmount) > 10000
Order By SalesAmount Desc
------------------
>>>Azure Data Studio<<<
>>1>>Create a connection<< إنشاء اتصال
>>2>>Home>DESKTOP-04201TI\AHMEDABDELMONEM<<
>>3>>Choose Database
>>4>>Databases
>>5>>Choose Database
>>6>>New Query
>>7>>Write Code
>>8>>Run
------------------

In [65]:
print("Saving Your Queries in Notepad","حفظ استعلاماتك في المفكرة")

Saving Your Queries in Notepad حفظ استعلاماتك في المفكرة

In [73]:
print("Saving Your Queries in Notepad","حفظ استعلاماتك في المفكرة")

Saving Your Queries in Notepad حفظ استعلاماتك في المفكرة

In [74]:
print(">>SELECT and FROM<<","اختر و من")

>>SELECT and FROM<< اختر و من

In [75]:
print(">>Select * FROM FactInternetSales<<")

>>Select * FROM FactInternetSales<<

In [76]:
print(">>SELECT Specific Columns<<","تحديد أعمدة محددة")

>>SELECT Specific Columns<< تحديد أعمدة محددة

In [79]:
print(">>SELECT<<")
print(">>SalesOrderNumber,<<")
print(">>OrderDate,<<")
print(">>SalesAmount,<<")
print(">>TaxAmt,<<")
print(">>OrderQuantity<<")
print(">>FROM FactInternetSales<<")

>>SELECT<<
>>SalesOrderNumber,<<
>>OrderDate,<<
>>SalesAmount,<<
>>TaxAmt,<<
>>OrderQuantity<<
>>FROM FactInternetSales<<

In [84]:
print(">>Creating a Column Alias","إنشاء اسم مستعار للعمود<<")
print(">>Select<<")
print("SalesOrderNumber AS [InvoiceNumber],")
print("OrderDate,")
print("SalesAmount,")
print("TaxAmt,")
print("OrderQuantity")
print("From FactInternetSales")

>>Creating a Column Alias إنشاء اسم مستعار للعمود<<
>>Select<<
SalesOrderNumber AS [InvoiceNumber],
OrderDate,
SalesAmount,
TaxAmt,
OrderQuantity
From FactInternetSales

In [85]:
print(">>Using WHERE to Filter Rows","استخدام WHERE لتصفية الصفوف<<")

>>Using WHERE to Filter Rows استخدام WHERE لتصفية الصفوف<<

In [87]:
print(">>Using WHERE to Filter Rows<<",">>استخدام WHERE لتصفية الصفوف<<")

>>Using WHERE to Filter Rows<< >>استخدام WHERE لتصفية الصفوف<<

In [2]:
print(">>Using WHERE to Filter Rows<<","استخدام WHERE لتصفية الصفوف")

>>Using WHERE to Filter Rows<< استخدام WHERE لتصفية الصفوف

In [4]:
print("<<Limiting Results to 1 Invoice Number for Testing>>")
print("<<تحديد النتائج برقم فاتورة واحد للاختبار>>")

<<Limiting Results to 1 Invoice Number for Testing>>
<<تحديد النتائج برقم فاتورة واحد للاختبار>>

In [6]:
print(">>Using GROUP BY to Combine Rows<<",">>استخدام GROUP BY لدمج الصفوف<<")

>>Using GROUP BY to Combine Rows<< >>استخدام GROUP BY لدمج الصفوف<<

In [7]:
print(">>Using GROUP BY to Combine Invoice Numbers<<","استخدام GROUP BY لدمج أرقام الفواتير")

>>Using GROUP BY to Combine Invoice Numbers<< استخدام GROUP BY لدمج أرقام الفواتير

In [8]:
print(">>Using HAVING to Filter Grouped Rows<<","استخدام HAVING لتصفية الصفوف المجمعة")

>>Using HAVING to Filter Grouped Rows<< استخدام HAVING لتصفية الصفوف المجمعة

In [10]:
print(">>Filtering Grouped Invoices with HAVING<<",">>تصفية الفواتير المجمعة باستخدام HAVING<<")

>>Filtering Grouped Invoices with HAVING<< >>تصفية الفواتير المجمعة باستخدام HAVING<<

In [12]:
print(">>SQL Order of Operations<<",">>ترتيب عمليات SQL<<")

>>SQL Order of Operations<< >>ترتيب عمليات SQL<<

In [14]:
print(">>Using ORDER BY to Sort Query Rows<<",">>استخدام ORDER BY لفرز صفوف الاستعلام<<")

>>Using ORDER BY to Sort Query Rows<< >>استخدام ORDER BY لفرز صفوف الاستعلام<<

In [15]:
print(">>Using ORDER BY to Sort Query Rows<<")

>>Using ORDER BY to Sort Query Rows<<

In [16]:
print(">>Recap and Common Errors<<","ملخص وأخطاء شائعة")

>>Recap and Common Errors<< ملخص وأخطاء شائعة

In [17]:
print(">>Filtering Rows TOP N<<","تصفية الصفوف TOP N")

>>Filtering Rows TOP N<< تصفية الصفوف TOP N

In [18]:
print(">>Filtering Rows TOP N Percent<<","تصفية الصفوف أعلى نسبة مئوية")

>>Filtering Rows TOP N Percent<< تصفية الصفوف أعلى نسبة مئوية

In [20]:
print(">>Filtering Rows OFFSET FETCH<<",">>تصفية الصفوف OFFSET FETCH<<")

>>Filtering Rows OFFSET FETCH<< >>تصفية الصفوف OFFSET FETCH<<

In [22]:
print(">>Filtering Rows DISTINCT<<","تصفية الصفوف DISTINCT")

>>Filtering Rows DISTINCT<< تصفية الصفوف DISTINCT

In [23]:
print(">>ORDER BY Another Column<<","ترتيب حسب عمود آخر")

>>ORDER BY Another Column<< ترتيب حسب عمود آخر

In [25]:
print(">>ORDER BY Another Column<<",">>ترتيب حسب عمود آخر<<")

>>ORDER BY Another Column<< >>ترتيب حسب عمود آخر<<

In [26]:
print(">>Basic SQL Queries End<<")

>>Basic SQL Queries End<<

In [28]:
print(">>Week 1 Challenge<<",">>تحدي الأسبوع الأول<<")

>>Week 1 Challenge<< >>تحدي الأسبوع الأول<<

In [29]:
print(">>SQL Fundamentals for Data Analysts>>Module 2>>Exercise 1a<<")

>>SQL Fundamentals for Data Analysts>>Module 2>>Exercise 1a<<

In [32]:
print("SQL Fundamentals for Data Analysts","أساسيات SQL لمحللي البيانات")

SQL Fundamentals for Data Analysts أساسيات SQL لمحللي البيانات

In [33]:
print(">>Exercise 1a Review<<","مراجعة التمرين 1أ")

>>Exercise 1a Review<< مراجعة التمرين 1أ

In [34]:
print("Exercise 1b")

Exercise 1b

In [35]:
print(">>Exercise 1c<<")

>>Exercise 1c<<

In [37]:
print(">>Exercise 1c Review<<","مراجعة التمرين 1ج")

>>Exercise 1c Review<< مراجعة التمرين 1ج

In [38]:
print(">>Exercise 1c Review<<")

>>Exercise 1c Review<<

In [41]:
print(">>SQL Fundamentals for Data Analysts>>Module 3>>Introduction<<")
print(">>Manipulating Values with Functions<<","التلاعب بالقيم باستخدام الدوال")

>>SQL Fundamentals for Data Analysts>>Module 3>>Introduction<<
>>Manipulating Values with Functions<< التلاعب بالقيم باستخدام الدوال

In [42]:
print(">>Introduction<<")

>>Introduction<<

In [43]:
print(">>Recap of Aggregate Functions","ملخص الوظائف التجميعية<<")

>>Recap of Aggregate Functions ملخص الوظائف التجميعية<<

In [44]:
print(">>Counting Rows with COUNT( ) Aggregation<<","عد الصفوف باستخدام التجميع COUNT()")

>>Counting Rows with COUNT( ) Aggregation<< عد الصفوف باستخدام التجميع COUNT()

In [45]:
print(">>Counting Rows with COUNT( ) Aggregation<<","عد الصفوف باستخدام التجميع COUNT( )")

>>Counting Rows with COUNT( ) Aggregation<< عد الصفوف باستخدام التجميع COUNT( )

In [46]:
print(">>How Aggregate Functions Respond to NULL Values<<","كيف تستجيب الدوال التجميعية للقيم الفارغة (NULL)")

>>How Aggregate Functions Respond to NULL Values<< كيف تستجيب الدوال التجميعية للقيم الفارغة (NULL)

In [47]:
print("<<The Importance of Data Types>>","أهمية أنواع البيانات")

<<The Importance of Data Types>> أهمية أنواع البيانات

In [48]:
print("<<Numeric Data Types>>","أنواع البيانات الرقمية")

<<Numeric Data Types>> أنواع البيانات الرقمية

In [49]:
print("<<Numeric Functions>>","الدوال العددية")

<<Numeric Functions>> الدوال العددية

In [51]:
print("<<Numeric Functions>>","الدوال العددية")

<<Numeric Functions>> الدوال العددية

In [52]:
print("<<Where is the Boolean Data Type>>","أين يوجد نوع البيانات المنطقية؟")

<<Where is the Boolean Data Type>> أين يوجد نوع البيانات المنطقية؟

In [53]:
print(">>Date and Time Data Types<<","أنواع بيانات التاريخ والوقت")

>>Date and Time Data Types<< أنواع بيانات التاريخ والوقت

In [55]:
print(">>Date Parts<<","أجزاء التاريخ")

>>Date Parts<< أجزاء التاريخ

In [57]:
print(">>Date and Time Functions<<","وظائف التاريخ والوقت")

>>Date and Time Functions<< وظائف التاريخ والوقت

In [58]:
print(">>Date and Time Functions in Practice<<","وظائف التاريخ والوقت في الممارسة العملية")

>>Date and Time Functions in Practice<< وظائف التاريخ والوقت في الممارسة العملية

In [59]:
print(">>The DATEADD Function<<","دالة DATEADD")

>>The DATEADD Function<< دالة DATEADD

In [60]:
print(">>Server Properties Collation<<","ترتيب خصائص الخادم")

>>Server Properties Collation<< ترتيب خصائص الخادم

In [61]:
print(">>Text or String Data Types<<","أنواع البيانات النصية أو السلسلة")

>>Text or String Data Types<< أنواع البيانات النصية أو السلسلة

In [62]:
print(">>String Functions<<","وظائف السلسلة")

>>String Functions<< وظائف السلسلة

In [63]:
print(">>The CONCAT String Function<<","دالة سلسلة CONCAT")

>>The CONCAT String Function<< دالة سلسلة CONCAT

In [64]:
print(">>The CONCAT String Function<<","دالة سلسلة CONCAT")

>>The CONCAT String Function<< دالة سلسلة CONCAT

In [66]:
print(">>LEN UPPER LOWER REPLACE String functions<<")
print(">>Len(), Upper(),Lower() and Replace()<<")

>>LEN UPPER LOWER REPLACE String functions<<
>>Len(), Upper(),Lower() and Replace()<<

In [67]:
print("<<Flexible LEFT and RIGHT Functions>>","وظائف مرنة لليسار واليمين")

<<Flexible LEFT and RIGHT Functions>> وظائف مرنة لليسار واليمين

In [68]:
print("<<Comparison Operators>>","مشغلات المقارنة")

<<Comparison Operators>> مشغلات المقارنة

In [70]:
print("<<Comparison Operators - Dealing with NULL>>","عوامل المقارنة - التعامل مع NULL")

<<Comparison Operators - Dealing with NULL>> عوامل المقارنة - التعامل مع NULL

In [71]:
print("Logical Operators","العمليات المنطقية")

Logical Operators العمليات المنطقية

In [72]:
print(">>Logical Operators - Common Errors<<","العمليات المنطقية - الأخطاء الشائعة")

>>Logical Operators - Common Errors<< العمليات المنطقية - الأخطاء الشائعة

In [74]:
print(">>Advanced Logical Operators - IN and BETWEEN<<")
print(">>العمليات المنطقية المتقدمة - IN و BETWEEN<<")

>>Advanced Logical Operators - IN and BETWEEN<<
>>العمليات المنطقية المتقدمة - IN و BETWEEN<<

In [1]:
print(">>IN and BETWEEN in Practice","في وبين في الممارسة<<")
print("-----------------------------------------------")

>>IN and BETWEEN in Practice في وبين في الممارسة<<
-----------------------------------------------

In [3]:
print("Advanced Logical Operators - LIKE","العمليات المنطقية المتقدمة - LIKE")

Advanced Logical Operators - LIKE العمليات المنطقية المتقدمة - LIKE

In [4]:
print(">>Advanced Logical Operators - LIKE<<","العمليات المنطقية المتقدمة - LIKE")

>>Advanced Logical Operators - LIKE<< العمليات المنطقية المتقدمة - LIKE

In [5]:
print(">>Using IIF Statements to Create a Conditional Column<<")
print(">>استخدام عبارات IIF لإنشاء عمود شرطي<<")

>>Using IIF Statements to Create a Conditional Column<<
>>استخدام عبارات IIF لإنشاء عمود شرطي<<

In [6]:
print(">>Using a CASE Statement for Multiple Conditions<<")
print("استخدام عبارة CASE لشروط متعددة")

>>Using a CASE Statement for Multiple Conditions<<
استخدام عبارة CASE لشروط متعددة

In [7]:
print(">>Basic SQL Formatting<<","تنسيق SQL الأساسي")

>>Basic SQL Formatting<< تنسيق SQL الأساسي

In [9]:
print(">>Using IIF in a WHERE Statement<<",">>استخدام IIF في بيان WHERE<<")

>>Using IIF in a WHERE Statement<< >>استخدام IIF في بيان WHERE<<

In [10]:
print("Using IIF in a WHERE Statement")

Using IIF in a WHERE Statement

In [11]:
print(">>Replacing NULL Using IIF, ISNULL and COALESCE<<")
print(">>استبدال NULL باستخدام IIF وISNULL وCOALESCE<<")

>>Replacing NULL Using IIF, ISNULL and COALESCE<<
>>استبدال NULL باستخدام IIF وISNULL وCOALESCE<<

In [12]:
print(">>Using CAST to Change the Data Type<<","استخدام CAST لتغيير نوع البيانات")

>>Using CAST to Change the Data Type<< استخدام CAST لتغيير نوع البيانات

In [14]:
print(">>Using CAST to Change the Data Type<<",">>استخدام CAST لتغيير نوع البيانات<<")

>>Using CAST to Change the Data Type<< >>استخدام CAST لتغيير نوع البيانات<<

In [15]:
print(">>Practical Examples Using CAST<<","أمثلة عملية باستخدام CAST")

>>Practical Examples Using CAST<< أمثلة عملية باستخدام CAST

In [16]:
print(">>Using a NATIONAL for UNICODE Best Practice<<","استخدام أفضل الممارسات الوطنية لـ UNICODE")

>>Using a NATIONAL for UNICODE Best Practice<< استخدام أفضل الممارسات الوطنية لـ UNICODE

In [17]:
print(">>Exercise 2a<<")

>>Exercise 2a<<

In [19]:
print(">>Exercise 2a Review<<",">>مراجعة التمرين 2أ<<")

>>Exercise 2a Review<< >>مراجعة التمرين 2أ<<

In [21]:
print(">>Exercise 2b Review<<",">>مراجعة التمرين 2ب<<")

>>Exercise 2b Review<< >>مراجعة التمرين 2ب<<

In [29]:
print("Azure Data Studio","A modern open-source, cross-platform hybrid data analytics tool designed to simplify the data landscape")
print("أداة تحليل بيانات هجينة حديثة مفتوحة المصدر ومتعددة المنصات مصممة لتبسيط مشهد البيانات")
print(">>SQL Fundamentals for Data Analysts>>Module 4>>Introduction<<")

Azure Data Studio A modern open-source, cross-platform hybrid data analytics tool designed to simplify the data landscape
أداة تحليل بيانات هجينة حديثة مفتوحة المصدر ومتعددة المنصات مصممة لتبسيط مشهد البيانات
>>SQL Fundamentals for Data Analysts>>Module 4>>Introduction<<

In [30]:
print(">>Module-4<<",">>الوحدة 4<<")

>>Module-4<< >>الوحدة 4<<

In [33]:
print(">>SQL Fundamentals for Data Analysts<<Module 4>>Introduction<<")

>>SQL Fundamentals for Data Analysts<<Module 4>>Introduction<<

In [1]:
print(">>Introduction<<","مقدمة")

>>Introduction<< مقدمة

In [2]:
print(">>A History of SQL<<","تاريخ SQL")

>>A History of SQL<< تاريخ SQL

In [3]:
print(">>SQL Terminology<<","مصطلحات SQL<<")

>>SQL Terminology<< مصطلحات SQL<<

In [4]:
print(">>RDBMS Installation Options<<","خيارات تثبيت RDBMS")

>>RDBMS Installation Options<< خيارات تثبيت RDBMS

In [6]:
print(">>Data Security<<",">>أمن البيانات<<")

>>Data Security<< >>أمن البيانات<<

In [7]:
print(">>Types of Database System<<","أنواع أنظمة قواعد البيانات")

>>Types of Database System<< أنواع أنظمة قواعد البيانات

In [9]:
print(">>Data Normalization in OLTP Systems<<",">>تطبيع البيانات في أنظمة OLTP<<")

>>Data Normalization in OLTP Systems<< >>تطبيع البيانات في أنظمة OLTP<<

In [11]:
print(">>De-normalization in DW Systems<<","إزالة التطبيع في أنظمة DW<<")

>>De-normalization in DW Systems<< إزالة التطبيع في أنظمة DW<<

In [13]:
print(">>Fact and Dimension Tables<<","جداول الحقائق والأبعاد<<")

>>Fact and Dimension Tables<< جداول الحقائق والأبعاد<<

In [15]:
print(">>Relationships & Keys<<",">>العلاقات والمفاتيح<<")

>>Relationships & Keys<< >>العلاقات والمفاتيح<<

In [17]:
print("The Star Schema<<>>The Star Schema","مخطط النجمة<<>>مخطط النجمة")

The Star Schema<<>>The Star Schema مخطط النجمة<<>>مخطط النجمة

In [18]:
print("<<how to create Date Dimension in Power BI Function>>")
print("<<Creating a Date Dimension (Calendar Table) in Power BI>>")

<<how to create Date Dimension in Power BI Function>>
<<Creating a Date Dimension (Calendar Table) in Power BI>>

In [19]:
print(">>Snowflake Hybrid Schema<<","مخطط هجين ندفة الثلج")

>>Snowflake Hybrid Schema<< مخطط هجين ندفة الثلج

In [20]:
print(">>Snowflake Schema Power BI<<")

>>Snowflake Schema Power BI<<

In [24]:
print(">>SQL Fundamentals for Data Analysts>>Module 5>>Introduction<<")
print(">>SQL Fundamentals Working with Multiple Tables<<")
print(">>أساسيات SQL العمل مع جداول متعددة<<","Working with Multiple Tables<<")

>>SQL Fundamentals for Data Analysts>>Module 5>>Introduction<<
>>SQL Fundamentals Working with Multiple Tables<<
>>أساسيات SQL العمل مع جداول متعددة<< Working with Multiple Tables<<

In [26]:
print(">>Relationships and ER Diagrams<<",">>العلاقات ومخططات العلاقات<<")

>>Relationships and ER Diagrams<< >>العلاقات ومخططات العلاقات<<

In [27]:
print(">>Purpose of DW Relationships<<","غرض علاقات DW")

>>Purpose of DW Relationships<< غرض علاقات DW

In [28]:
print(">>Internet Sales Schema<<","مخطط مبيعات الإنترنت<<")

>>Internet Sales Schema<< مخطط مبيعات الإنترنت<<

In [29]:
print(">>Types of JOIN<<","أنواع الانضمام")

>>Types of JOIN<< أنواع الانضمام

In [30]:
print(">>A Basic INNER JOIN Using Sales and Customers<<")
print(">>ربط داخلي أساسي باستخدام المبيعات والعملاء<<")

>>A Basic INNER JOIN Using Sales and Customers<<
>>ربط داخلي أساسي باستخدام المبيعات والعملاء<<

In [31]:
print(">>A Basic INNER JOIN Using Sales and Customers<<")

>>A Basic INNER JOIN Using Sales and Customers<<

In [33]:
print(">>A Basic INNER JOIN Using Sales and Customers<<")
print(">>>>ربط داخلي أساسي باستخدام المبيعات والعملاء<<<<")

>>A Basic INNER JOIN Using Sales and Customers<<
>>>>ربط داخلي أساسي باستخدام المبيعات والعملاء<<<<

In [35]:
print(">>Returning Only the TOP 100 Customers<<",">>إرجاع أفضل 100 عميل فقط<<")

>>Returning Only the TOP 100 Customers<< >>إرجاع أفضل 100 عميل فقط<<

In [36]:
print(">>Order of Operations Review<<","مراجعة ترتيب العمليات<<")

>>Order of Operations Review<< مراجعة ترتيب العمليات<<

In [37]:
print(">>INNER JOIN the Currency Table<<","الانضمام الداخلي إلى جدول العملات")

>>INNER JOIN the Currency Table<< الانضمام الداخلي إلى جدول العملات

In [39]:
print(">>INNER JOIN the Currency Table<<",">>الانضمام الداخلي إلى جدول العملات<<")

>>INNER JOIN the Currency Table<< >>الانضمام الداخلي إلى جدول العملات<<

In [40]:
print(">>HAVING or WHERE<<",">>HAVING or WHERE<<")

>>HAVING or WHERE<< >>HAVING or WHERE<<

In [41]:
print(">>When INNER JOIN Doesn't Work<<")

>>When INNER JOIN Doesn't Work<<

In [42]:
print(">>When INNER JOIN Doesn't Work<<","عندما لا يعمل INNER JOIN")

>>When INNER JOIN Doesn't Work<< عندما لا يعمل INNER JOIN

In [43]:
print(">>RIGHT JOIN to Retrieve Full Product Catalogue<<","اضغط على الزر الأيمن لاسترجاع كتالوج المنتج الكامل")

>>RIGHT JOIN to Retrieve Full Product Catalogue<< اضغط على الزر الأيمن لاسترجاع كتالوج المنتج الكامل

In [45]:
print(">>LEFT JOIN vs RIGHT JOIN<<","الانضمام الأيسر مقابل الانضمام الأيمن")

>>LEFT JOIN vs RIGHT JOIN<< الانضمام الأيسر مقابل الانضمام الأيمن

In [46]:
print(">>Bridge Tables for Many-to-many Relationships<<")

>>Bridge Tables for Many-to-many Relationships<<

In [47]:
print("Creating JOINS Across Bridge Tables")

Creating JOINS Across Bridge Tables

In [49]:
print(">>Caution with Duplicate Data<<",">>الحذر من البيانات المكررة<<")

>>Caution with Duplicate Data<< >>الحذر من البيانات المكررة<<

In [51]:
print(">>Reading SQL Code<<",">>قراءة كود SQL<<")

>>Reading SQL Code<< >>قراءة كود SQL<<

In [52]:
print(">>Appending Data with a UNION<<","إلحاق البيانات باستخدام UNION")

>>Appending Data with a UNION<< إلحاق البيانات باستخدام UNION

In [54]:
print(">>Exploring the Reseller Schema","استكشاف مخطط الموزع<<")

>>Exploring the Reseller Schema استكشاف مخطط الموزع<<

In [55]:
print(">>Creating a {UNION} between {Internet} and {Reseller} Sales<<")

>>Creating a {UNION} between {Internet} and {Reseller} Sales<<

In [56]:
print(">>Identifying the Source of Each UNION Row<<","تحديد مصدر كل صف UNION")

>>Identifying the Source of Each UNION Row<< تحديد مصدر كل صف UNION

In [57]:
print("<<Identifying the Source of Each UNION Row>>","تحديد مصدر كل صف UNION")

<<Identifying the Source of Each UNION Row>> تحديد مصدر كل صف UNION

In [58]:
print("<<Identifying the Source of Each UNION Row>>","تحديد مصدر كل صف UNION")

<<Identifying the Source of Each UNION Row>> تحديد مصدر كل صف UNION

In [59]:
print(">>Using ORDER BY with a UNION<<","استخدام ORDER BY مع UNION")

>>Using ORDER BY with a UNION<< استخدام ORDER BY مع UNION

In [61]:
print(">>Other Types of JOIN<<",">>أنواع أخرى من JOIN<<")

>>Other Types of JOIN<< >>أنواع أخرى من JOIN<<

In [62]:
print(">>Other Types of JOIN<<")

>>Other Types of JOIN<<

In [2]:
print(">>Other Types of JOIN<<","أنواع أخرى من JOIN")

>>Other Types of JOIN<< أنواع أخرى من JOIN

In [3]:
print("Creating a View","إنشاء عرض")

Creating a View إنشاء عرض

In [5]:
print(">>Querying a View<<","استعلام عن عرض<<")

>>Querying a View<< استعلام عن عرض<<

In [6]:
print(">>Creating Dynamic Results Using Subqueries<<","إنشاء نتائج ديناميكية باستخدام الاستعلامات الفرعية")

>>Creating Dynamic Results Using Subqueries<< إنشاء نتائج ديناميكية باستخدام الاستعلامات الفرعية

In [8]:
print(">>Writing Subqueries in SQL<<",">>كتابة الاستعلامات الفرعية في SQL<<")

>>Writing Subqueries in SQL<< >>كتابة الاستعلامات الفرعية في SQL<<

In [9]:
print(">>Exercise 4a<<","التمرين 4أ")

>>Exercise 4a<< التمرين 4أ

In [10]:
print(">>SQL Fundamentals:Student Exercise 4a<<")

>>SQL Fundamentals:Student Exercise 4a<<

In [11]:
print(">>أساسيات SQL: تمرين الطالب 4أ<<")

>>أساسيات SQL: تمرين الطالب 4أ<<

In [13]:
print(">>Subqueries (SQL Server)<<",">>الاستعلامات الفرعية (SQL Server)<<")

>>Subqueries (SQL Server)<< >>الاستعلامات الفرعية (SQL Server)<<

In [15]:
print(">>Exercise 4b<<","التمرين 4ب")

>>Exercise 4b<< التمرين 4ب

In [17]:
print(">>Exercise 4b Review<<")

>>Exercise 4b Review<<

In [18]:
print(">>Advanced Functions and Queries<<","الوظائف والاستعلامات المتقدمة")

>>Advanced Functions and Queries<< الوظائف والاستعلامات المتقدمة

In [19]:
print("Blocks of reusable code that usually perform a single, related action.")

Blocks of reusable code that usually perform a single, related action.

In [20]:
print("كتل من التعليمات البرمجية القابلة لإعادة الاستخدام والتي تقوم عادةً بتنفيذ إجراء واحد ذي صلة.")

كتل من التعليمات البرمجية القابلة لإعادة الاستخدام والتي تقوم عادةً بتنفيذ إجراء واحد ذي صلة.

In [23]:
print(">>Re-usable code perform Action<<",">>كود قابل لإعادة الاستخدام يؤدي الإجراء<<")

>>Re-usable code perform Action<< >>كود قابل لإعادة الاستخدام يؤدي الإجراء<<

In [25]:
print("SQL For Reporting","SQL لإعداد التقارير")

SQL For Reporting SQL لإعداد التقارير

In [27]:
print(">>Connecting to SQL Server from Excel<<","الاتصال بـ SQL Server من Excel")

>>Connecting to SQL Server from Excel<< الاتصال بـ SQL Server من Excel

In [29]:
print(">>Connecting to SQL Server from Excel<<",">>الاتصال بـ SQL Server من Excel<<")

>>Connecting to SQL Server from Excel<< >>الاتصال بـ SQL Server من Excel<<

In [30]:
print("Connect SQL Server from Excel and retrieve data")

Connect SQL Server from Excel and retrieve data

In [31]:
print(">>ربط SQL Server من Excel واسترداد البيانات<<")

>>ربط SQL Server من Excel واسترداد البيانات<<

In [33]:
print(">>{Connecting to SQL Server from Power BI}<<","الاتصال بـ SQL Server من Power BI")

>>{Connecting to SQL Server from Power BI}<< الاتصال بـ SQL Server من Power BI

In [34]:
print(">>Connect to on-premises data in SQL Server - Power BI<<")

>>Connect to on-premises data in SQL Server - Power BI<<

In [37]:
print("Select Get data > SQL Server > Transform data or Load data")

Select Get data > SQL Server > Transform data or Load data

In [39]:
print(">Connecting to SQL from Tableau<",">الاتصال بـ SQL من Tableau<")

>Connecting to SQL from Tableau< >الاتصال بـ SQL من Tableau<

In [40]:
print(">>Using CUBE to Return Subtotals and Totals<<","استخدام CUBE لإرجاع المجاميع الفرعية والإجماليات")

>>Using CUBE to Return Subtotals and Totals<< استخدام CUBE لإرجاع المجاميع الفرعية والإجماليات

In [41]:
print("GROUP BY CUBE creates groups for all possible combinations of columns.")

GROUP BY CUBE creates groups for all possible combinations of columns.

In [42]:
print("يقوم GROUP BY CUBE بإنشاء مجموعات لجميع التركيبات الممكنة للأعمدة.")

يقوم GROUP BY CUBE بإنشاء مجموعات لجميع التركيبات الممكنة للأعمدة.

In [43]:
print("Using ROLLUP to Return Subtotals and Totals")

Using ROLLUP to Return Subtotals and Totals

In [44]:
print("استخدام ROLLUP لإرجاع الإجماليات الفرعية والإجماليات")

استخدام ROLLUP لإرجاع الإجماليات الفرعية والإجماليات

In [46]:
print(">>GROUP BY ROLLUP<<",">>التجميع حسب التجميع<<")

>>GROUP BY ROLLUP<< >>التجميع حسب التجميع<<

In [47]:
print(">>SELECT - GROUP BY- Transact-SQL<<")

>>SELECT - GROUP BY- Transact-SQL<<

In [48]:
print("GROUP BY ROLLUP"," Creates a group for each combination of column expressions.")

GROUP BY ROLLUP  Creates a group for each combination of column expressions.

In [49]:
print("إنشاء مجموعة لكل مجموعة من تعبيرات الأعمدة.")

إنشاء مجموعة لكل مجموعة من تعبيرات الأعمدة.

In [51]:
print(">>Common Scenario Percent of total<<",">>نسبة السيناريو المشترك من الإجمالي<<")

>>Common Scenario Percent of total<< >>نسبة السيناريو المشترك من الإجمالي<<

In [53]:
print("Finance Schema","مخطط التمويل")

Finance Schema مخطط التمويل

In [54]:
print(">>SQL Fundamentals for Data Analysts>>Module 6>>Introducing the Finance Schema<<")

>>SQL Fundamentals for Data Analysts>>Module 6>>Introducing the Finance Schema<<

In [55]:
print(">>Introducing the Finance Schema","مقدمة عن مخطط التمويل<<")

>>Introducing the Finance Schema مقدمة عن مخطط التمويل<<

In [56]:
print(">>Exercise 5a<<","التمرين 5أ")

>>Exercise 5a<< التمرين 5أ

In [57]:
print(">>Exercise 5b<<","التمرين 5ب")

>>Exercise 5b<< التمرين 5ب

In [59]:
print("SQL Fundamentals for Data Analysts>>Module 7>>Final Assessment","التقييم النهائي")

SQL Fundamentals for Data Analysts>>Module 7>>Final Assessment التقييم النهائي

In [61]:
print("SQL Fundamentals for Data Analysts>>Corporate Finance Institute","معهد التمويل المؤسسي")

SQL Fundamentals for Data Analysts>>Corporate Finance Institute معهد التمويل المؤسسي

In [62]:
print(">>Azure Data Studio","Data analytics tool<<")

>>Azure Data Studio Data analytics tool<<

In [64]:
print("SQL Fundamentals for Data Analysts","أساسيات SQL لمحللي البيانات")

SQL Fundamentals for Data Analysts أساسيات SQL لمحللي البيانات

In [65]:
print("//////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\")

//////////////////////////////\\\\\\\\\\\\\

In [66]:
print("Screenshot final review","المراجعة النهائية للشاشة")

Screenshot final review المراجعة النهائية للشاشة

In [76]:
print(""" 
1)Select From Where.
2)Select From Where.
3)Using Group By to Combine Rows.
4)Aggregate functions{وظائف التجميع}.
5)
Select
SalesOrderNumber AS InvoiceNumber,
OrderDate,
SUM(SalesAmount) AS InvoiceSubTotal,
SUM(TaxAmt) AS TaxAmount,
SUM(OrderQuantity) AS TotalQuantity
FROM FactInternetSales
Where SalesOrderNumber = 'S051182'
Group By SalesOrderNumber, OrderDate;
6)Using Having to Filter Grouped Rows.
استخدام <Having> لتصفية الصفوف المجمعة.
7){Select From Where Group By Having}.
8)SQL Order of Operations.
>>From>>Where>>Group By>>Having>>Select>>Order By.
9)FWGHSO.
10){Select From Where Group By Having Order by DESC}.
11)Select From Where Group By Having Order By ASC.
12)Select TOP(10) From Where Group By Having Order By DESC.
13)Select (Columns) 
From (Table) 
Where (Condition)
Group By (Coumns)
Having Aggregate Column
Order By (Columns) DESC
OFFSET BY 2 ROWS FETCH NEXT 10 Rows ONLY.
14)So, you'll get rows 3 to 12 in the sorted list.
15)OFFSET 2 Rows FETCH NEXT 10 ROWS ONLY.
>>OFFSET 2 ROWS:- 
Skips the first 2 rows.
>>FETCH NEXT 10 ROWS ONLY:- 
Gets the next 10 rows after skipping the first 2.
16)SELECT FROM ORDER BY OFFSET 2 ROWS 
FETCH NEXT 10 ROWS ONLY;
17)Select Distinct CustomerKey 
From FactInternetSales
Order By CustomerKey
18)Select From Order By.
19)Select
SalesOrderNumber AS InvoiceNumber,
SUM(TotalProductCost) AS TotalProductCost
From FactInternetSales
Group By SalesOrderNumber
Having SUM(TotalProductCost) > 2000
Order By TotalProductCost DESC;
20)Select
SalesOrderNumber AS InvoiceNumber,
SalesOrderLineNumber AS InvoiceLineNumber,
SalesAmount AS SalesAmount
FROM FactInternetSales
Where CurrencyKey = 100;
21)Select Distinct SalesTerritoryKey AS SalesTerritory
From FactInternetSales
Order By SalesTerritory ASC;
22)Skills:-
1.Data Types.
2.Functions.
3.Comparison Operators.
4.Logical Operators.
5.Logical Functions.
6.Data Type Conversion.
23)Group By.
24)Aggregate-functions{SUM,AVG,COUNT,MAX,MIN};
25)Select Top(10) From Where Group By Having Order By Desc;
26)Select 
COUNT(*) AS TotalCustomers
From DimCustomer;
27)Select 
COUNT(*) AS TotalCustomers,
AVG(YearlyIncome) AS AverageIncome
FROM DimCustomer
28)Select Count(MiddleName) 
AS MiddleNameCount From DimCustomer;
29)Data Types:-
>>Numberic>>Date & Time>>String>>Other.
30)Numeric Data Types>>{Int,Float,...};
31){Numeric-Functions}.
32)Numberic Functions:-
1.ROUND>>Select Round(2.36,1)>>2.4
2.ABS>>Select ABS(-353)>>353
3.CEILING>>Select  Ceiling(5.75)>>6
4.FLOOR>>Select FLOOR(5.75)>>5
33)ROUND(SUM(SalesAmount),1) AS InvoiceSubTotalRounded.
34)Select Top(10) From Where Group By Having Order By DESC;
35)Select From Where;
36)Date and Time Data Types{Date,Time,Datetime};
37)Datepart Values.
38){Year,quarter,month,day,dayofyear,week,weekday,hour}.
39)Date and Time Functions.
GetDate().
DateName().
Month().
Year().
DatedIFF().
DateADD().
40)Select GETDATE() AS DateTimeSTamp;
41)Select
GetDate() AS DateTimeStamp,
DueDate,
ShipDate,
DATEDIFF(day,ShipDate,DueDate),
DATEDIFF(hour,ShipDate,DueDate)
From FactInternetSales;
42)Select MONTH('20201011') AS MonthNumerical;
43)Select DATENAME(month,'02/12/2020' AS MonthName
44)CONVERT()>>DataType;
45)String or Text Data Types.
46)Text, String and Char;
47)Char(n),varchar(n);
48)nvarchar(20).
49)Finance & Corporate Finance{التمويل والتمويل المؤسسي};
50)String-Functions;
CONCAT().
LEFT().
RIGHT().
Replace().
Upper().
Lower().
Len().
-----------------------
51)Select From Where;
52)Select (Columns) From (Tables) 
Where (Column) IS NOT NULL;
53)
""")

1)Select From Where.
2)Select From Where.
3)Using Group By to Combine Rows.
4)Aggregate functions{وظائف التجميع}.
5)
Select
SalesOrderNumber AS InvoiceNumber,
OrderDate,
SUM(SalesAmount) AS InvoiceSubTotal,
SUM(TaxAmt) AS TaxAmount,
SUM(OrderQuantity) AS TotalQuantity
FROM FactInternetSales
Where SalesOrderNumber = 'S051182'
Group By SalesOrderNumber, OrderDate;
6)Using Having to Filter Grouped Rows.
استخدام <Having> لتصفية الصفوف المجمعة.
7){Select From Where Group By Having}.
8)SQL Order of Operations.
>>From>>Where>>Group By>>Having>>Select>>Order By.
9)FWGHSO.
10){Select From Where Group By Having Order by DESC}.
11)Select From Where Group By Having Order By ASC.
12)Select TOP(10) From Where Group By Having Order By DESC.
13)Select (Columns)
From (Table)
Where (Condition)
Group By (Coumns)
Having Aggregate Column
Order By (Columns) DESC
OFFSET BY 2 ROWS FETCH NEXT 10 Rows ONLY.
14)So, you'll get rows 3 to 12 in the sorted list.
15)OFFSET 2 Rows FETCH NEXT 10 ROWS ONLY.
>>OFFSET 2 ROWS:-
Skips the first 2 rows.
>>FETCH NEXT 10 ROWS ONLY:-
Gets the next 10 rows after skipping the first 2.
16)SELECT FROM ORDER BY OFFSET 2 ROWS
FETCH NEXT 10 ROWS ONLY;
17)Select Distinct CustomerKey
From FactInternetSales
Order By CustomerKey
18)Select From Order By.
19)Select
SalesOrderNumber AS InvoiceNumber,
SUM(TotalProductCost) AS TotalProductCost
From FactInternetSales
Group By SalesOrderNumber
Having SUM(TotalProductCost) > 2000
Order By TotalProductCost DESC;
20)Select
SalesOrderNumber AS InvoiceNumber,
SalesOrderLineNumber AS InvoiceLineNumber,
SalesAmount AS SalesAmount
FROM FactInternetSales
Where CurrencyKey = 100;
21)Select Distinct SalesTerritoryKey AS SalesTerritory
From FactInternetSales
Order By SalesTerritory ASC;
22)Skills:-
1.Data Types.
2.Functions.
3.Comparison Operators.
4.Logical Operators.
5.Logical Functions.
6.Data Type Conversion.
23)Group By.
24)Aggregate-functions{SUM,AVG,COUNT,MAX,MIN};
25)Select Top(10) From Where Group By Having Order By Desc;
26)Select
COUNT(*) AS TotalCustomers
From DimCustomer;
27)Select
COUNT(*) AS TotalCustomers,
AVG(YearlyIncome) AS AverageIncome
FROM DimCustomer
28)Select Count(MiddleName)
AS MiddleNameCount From DimCustomer;
29)Data Types:-
>>Numberic>>Date & Time>>String>>Other.
30)Numeric Data Types>>{Int,Float,...};
31){Numeric-Functions}.
32)Numberic Functions:-
1.ROUND>>Select Round(2.36,1)>>2.4
2.ABS>>Select ABS(-353)>>353
3.CEILING>>Select  Ceiling(5.75)>>6
4.FLOOR>>Select FLOOR(5.75)>>5
33)ROUND(SUM(SalesAmount),1) AS InvoiceSubTotalRounded.
34)Select Top(10) From Where Group By Having Order By DESC;
35)Select From Where;
36)Date and Time Data Types{Date,Time,Datetime};
37)Datepart Values.
38){Year,quarter,month,day,dayofyear,week,weekday,hour}.
39)Date and Time Functions.
GetDate().
DateName().
Month().
Year().
DatedIFF().
DateADD().
40)Select GETDATE() AS DateTimeSTamp;
41)Select
GetDate() AS DateTimeStamp,
DueDate,
ShipDate,
DATEDIFF(day,ShipDate,DueDate),
DATEDIFF(hour,ShipDate,DueDate)
From FactInternetSales;
42)Select MONTH('20201011') AS MonthNumerical;
43)Select DATENAME(month,'02/12/2020' AS MonthName
44)CONVERT()>>DataType;
45)String or Text Data Types.
46)Text, String and Char;
47)Char(n),varchar(n);
48)nvarchar(20).
49)Finance & Corporate Finance{التمويل والتمويل المؤسسي};
50)String-Functions;
CONCAT().
LEFT().
RIGHT().
Replace().
Upper().
Lower().
Len().
-----------------------
51)Select From Where;
52)Select (Columns) From (Tables)
Where (Column) IS NOT NULL;
53)

In [1]:
print("Select * From DimProduct Where Class <> 'H' OR Class IS NULL;")

Select * From DimProduct Where Class <> 'H' OR Class IS NULL;

In [2]:
print("<>	Not equal to")

<>	Not equal to

In [3]:
print("Where Class IS Not NULL")

Where Class IS Not NULL

In [4]:
print("Where Class <> 'H' OR Class IS NULL")

Where Class <> 'H' OR Class IS NULL

In [5]:
print("Logical Operators")
print("OR AND NOT")

Logical Operators
OR AND NOT

In [6]:
print("Class <> 'H' OR Class IS NULL")

Class <> 'H' OR Class IS NULL

In [7]:
print("Size = 'XL' AND Color = 'Black'")

Size = 'XL' AND Color = 'Black'

In [8]:
print("NOT(Color = 'Black')")

NOT(Color = 'Black')

In [9]:
print("Where Class <> 'H' OR Class IS NULL AND [Status] IS NOT NULL")

Where Class <> 'H' OR Class IS NULL AND [Status] IS NOT NULL

In [10]:
print("Where (Class <> 'H' OR Class IS NULL) AND [Status] IS NOT NULL")

Where (Class <> 'H' OR Class IS NULL) AND [Status] IS NOT NULL

In [11]:
print("Advanced Logical Operators - Simplifying Code")

Advanced Logical Operators - Simplifying Code

In [12]:
print("IN","BETWEEN")

IN BETWEEN

In [13]:
print("Color IN('Red','Blue','White')")

Color IN('Red','Blue','White')

In [15]:
print(">>SalesAmount Between 500 AND 1000<<")

>>SalesAmount Between 500 AND 1000<<

In [16]:
print("Where Color IN ('Black','Silver','White','Yellow')")

Where Color IN ('Black','Silver','White','Yellow')

In [17]:
print("Where SafetyStockLevel >= 500 AND SafetyStockLevel <= 1000.")

Where SafetyStockLevel >= 500 AND SafetyStockLevel <= 1000.

In [18]:
print("مستوى مخزون السلامة")

مستوى مخزون السلامة

In [19]:
print("Advanced Logical Operators>>LIKE")

Advanced Logical Operators>>LIKE

In [21]:
print("{Where FirestName LIKE 'R%'}>>OUTPUT>>Ruben")

{Where FirestName LIKE 'R%'}>>OUTPUT>>Ruben

In [22]:
print("{Where FirstName LIKE 'R__'}")

{Where FirstName LIKE 'R__'}

In [23]:
print("{Where FirstName LIKE '_R%'}>>AS>>Grace,Trevor,Crystal<<")

{Where FirstName LIKE '_R%'}>>AS>>Grace,Trevor,Crystal<<

In [25]:
print("""Select
FirstName,
LastName,
YearlyIncome,
EmailAddress,
IFF(YearlyIncome > 50000,
'Above Average','Below Average') AS IncomeCategory
From DimCustomer;
""")

Select
FirstName,
LastName,
YearlyIncome,
EmailAddress,
IFF(YearlyIncome > 50000,
'Above Average','Below Average') AS IncomeCategory
From DimCustomer;

In [26]:
print("CASE WHEN THEN ELSE END")

CASE WHEN THEN ELSE END

In [27]:
print(""" 
Select
FirstName,
LastName,
YearlyIncome,
EmailAddress,
IIF(YearlyIncome > 50000,'Above Average','Below Average') AS IncomeCategory
CASE
WHEN NumberChildrenAtHome = 0 THEN '0'
WHEN NumberChildrenAtHome = 1 THEN '1'
WHEN NumberChildrenAtHome BETWEEN 2 AND 4 THEN '2-4'
WHEN NumberChildrenAtHome >=5 THEN '5+'
ELSE 'UNKN'
END AS NumberChildrenCategory,
NumberChildrenAtHome AS ActualChildren
From DimCustomer;
""")

Select
FirstName,
LastName,
YearlyIncome,
EmailAddress,
IIF(YearlyIncome > 50000,'Above Average','Below Average') AS IncomeCategory
CASE
WHEN NumberChildrenAtHome = 0 THEN '0'
WHEN NumberChildrenAtHome = 1 THEN '1'
WHEN NumberChildrenAtHome BETWEEN 2 AND 4 THEN '2-4'
WHEN NumberChildrenAtHome >=5 THEN '5+'
ELSE 'UNKN'
END AS NumberChildrenCategory,
NumberChildrenAtHome AS ActualChildren
From DimCustomer;

In [28]:
print("Where IFF(YearlyIncome > 50000,'Above Average','Below Average') = 'Above Average';")

Where IFF(YearlyIncome > 50000,'Above Average','Below Average') = 'Above Average';

In [29]:
print("IIF() & CASE WHEN THEN ELSE")

IIF() & CASE WHEN THEN ELSE

In [30]:
print("Select SalesAmount,OrderDate FROM FactInternetSales;")

Select SalesAmount,OrderDate FROM FactInternetSales;

In [31]:
print("""SELECT
SalesAmount,
CAST(SalesAmount AS INT) AS SalesAmountCast,
OrderDate,
CAST(OrderDate AS DATE) AS OrderDateCast
FROM FactInternetSales;
""")

SELECT
SalesAmount,
CAST(SalesAmount AS INT) AS SalesAmountCast,
OrderDate,
CAST(OrderDate AS DATE) AS OrderDateCast
FROM FactInternetSales;

In [32]:
print("{CAST()","DECIMAL(8,4)}")

{CAST() DECIMAL(8,4)}

In [33]:
print("Where Color IN (N'Black',N'Silver',N'White',N'Yellow')")

Where Color IN (N'Black',N'Silver',N'White',N'Yellow')

In [34]:
print("Where DateName(month,OrderDate) = N'December' AND SalesTerritoryKey = 1;")

Where DateName(month,OrderDate) = N'December' AND SalesTerritoryKey = 1;

In [35]:
print("Where HouseOwnerFlag = 1 AND NumberCarsOwned > 1;")

Where HouseOwnerFlag = 1 AND NumberCarsOwned > 1;

In [36]:
print("Server VS Instance VS Database")
print("Cloud vs On Premise")
print("OLTP VS Data Warehouse")
print("Database Normalization")
print("Fact VS Dimension Tables")
print("Star, Snowflake and Hybrid Schema")

Server VS Instance VS Database
Cloud vs On Premise
OLTP VS Data Warehouse
Database Normalization
Fact VS Dimension Tables
Star, Snowflake and Hybrid Schema

In [37]:
print("A Timeline of SQL")

A Timeline of SQL

In [38]:
print("1970 SQL was Created")
print("1989 Microsoft SQL Server First Time")

1970 SQL was Created
1989 Microsoft SQL Server First Time

In [39]:
print("SQL, Servers, Instances & Databases;")

SQL, Servers, Instances & Databases;

In [41]:
print(">>Data Security<<",">>أمن البيانات<<")

>>Data Security<< >>أمن البيانات<<

In [43]:
print(">>Personal Data<<",">>البيانات الشخصية<<")

>>Personal Data<< >>البيانات الشخصية<<

In [44]:
print(">>طارق الغزاوي<<")

>>طارق الغزاوي<<

In [46]:
print("PII(Personally Identifiable Information)","معلومات التعريف الشخصية (PII)")

PII(Personally Identifiable Information) معلومات التعريف الشخصية (PII)

In [55]:
print(
""" 
PII(Personally Identi-fiable Information)
Name,اسم،
Email,بريد إلكتروني،
Address,عنوان،
SSN,رقم الضمان الاجتماعي،
IP Address,عنوان IP،
Phone Number,رقم التليفون،
Date Of Birth,تاريخ الميلاد،
Place Of Work,مكان العمل,
Company Phone Numberرقم هاتف الشركة
""")

PII(Personally Identi-fiable Information)
Name,اسم،
Email,بريد إلكتروني،
Address,عنوان،
SSN,رقم الضمان الاجتماعي،
IP Address,عنوان IP،
Phone Number,رقم التليفون،
Date Of Birth,تاريخ الميلاد،
Place Of Work,مكان العمل,
Company Phone Numberرقم هاتف الشركة

In [56]:
print("California Consumer Privacy ACT")

California Consumer Privacy ACT

In [57]:
print("قانون خصوصية المستهلك في كاليفورنيا")

قانون خصوصية المستهلك في كاليفورنيا

In [58]:
print(
""" 
FirstName,
LastName,
Email,
User ID,
Country,
Visit Count
-------------
Total Visits:
""")

FirstName,
LastName,
Email,
User ID,
Country,
Visit Count
-------------
Total Visits:

In [60]:
print(">>Types of Database Systems<<",">>أنواع أنظمة قواعد البيانات<<")

>>Types of Database Systems<< >>أنواع أنظمة قواعد البيانات<<

In [63]:
print("OLTP","Online transaction processing","معالجة المعاملات عبر الإنترنت")

OLTP Online transaction processing معالجة المعاملات عبر الإنترنت

In [64]:
print("OLTP Is Database")

OLTP Is Database

In [68]:
print("1>>Designed for efficient data entry.","مُصمم لإدخال البيانات بكفاءة.")
print("2>>Reduce data redundancy.","تقليل تكرار البيانات.")
print("3>>Fast at reading / Writing data.","سريع في قراءة / كتابة البيانات.")

1>>Designed for efficient data entry. مُصمم لإدخال البيانات بكفاءة.
2>>Reduce data redundancy. تقليل تكرار البيانات.
3>>Fast at reading / Writing data. سريع في قراءة / كتابة البيانات.

In [70]:
print("{ETL>>Extract,Transform, and Load}","استخراج وتحويل وتحميل")

{ETL>>Extract,Transform, and Load} استخراج وتحويل وتحميل

In [72]:
print("DW>>>DataWarehouse","مستودع البيانات")

DW>>>DataWarehouse مستودع البيانات

In [73]:
print(">>For Analysis and Reproting<<")
print(">>Data Warehosue --> Organization<<")
print("Data Mart ---> Specific team","As Fianace")

>>For Analysis and Reproting<<
>>Data Warehosue --> Organization<<
Data Mart ---> Specific team As Fianace

In [76]:
print(">>DSA>>Data Staging Area used for advanced transformations<<")
print("منطقة مرحلة البيانات المستخدمة للتحويلات المتقدمة")

>>DSA>>Data Staging Area used for advanced transformations<<
منطقة مرحلة البيانات المستخدمة للتحويلات المتقدمة

In [78]:
print(">>Power BI Query Editor<<","Power BI Query Editor Power BI Desktop")

>>Power BI Query Editor<< Power BI Query Editor Power BI Desktop

In [79]:
print("DSA>>Power BI Query Editor Power BI Desktop")

DSA>>Power BI Query Editor Power BI Desktop

In [80]:
print("Data Normalization in OLTP Systems")

Data Normalization in OLTP Systems

In [81]:
print(">>Normalization is the process of organizing data to minimize redundancy<<")

>>Normalization is the process of organizing data to minimize redundancy<<

In [82]:
print("التطبيع هو عملية تنظيم البيانات لتقليل التكرار")

التطبيع هو عملية تنظيم البيانات لتقليل التكرار

In [83]:
print("Denormalization in DW Systems:-","Multiple related tables into one.")

Denormalization in DW Systems:- Multiple related tables into one.

In [84]:
print("جداول متعددة مرتبطة ببعضها في جدول واحد.")

جداول متعددة مرتبطة ببعضها في جدول واحد.

In [85]:
print("Fact Tables:-Measurements")

Fact Tables:-Measurements

In [86]:
print(">>Fact tables contain IDs (or Keys)<<")

>>Fact tables contain IDs (or Keys)<<

In [87]:
print("Contain PK Of Dimensions Table")

Contain PK Of Dimensions Table

In [89]:
print("Dimension tables:-","Descriptive Information","معلومات وصفية")

Dimension tables:- Descriptive Information معلومات وصفية

In [91]:
print("IDs are used to Connect dimension tables to fact tables.")

IDs are used to Connect dimension tables to fact tables.

In [93]:
print("Relationships & Keys","العلاقات والمفاتيح")

Relationships & Keys العلاقات والمفاتيح

In [95]:
print("Date Table (Dimension Table)")

Date Table (Dimension Table)

In [96]:
print("Customer Table (Dimension Table)")

Customer Table (Dimension Table)

In [97]:
print("Product Table(Dimension Table)")

Product Table(Dimension Table)

In [99]:
print("Sales Transaction Table (Fact Table)","جدول معاملات المبيعات")

Sales Transaction Table (Fact Table) جدول معاملات المبيعات

In [100]:
print("Columns used to join.tables are known as keys.")

Columns used to join.tables are known as keys.

In [103]:
print("A Primary Key(PK):-primary key unique identifier.","معرف فريد للمفتاح الأساسي.")

A Primary Key(PK):-primary key unique identifier. معرف فريد للمفتاح الأساسي.

In [105]:
print("A Foreign Key (FK):-refers to the PRIMARY KEY in another table.")

A Foreign Key (FK):-refers to the PRIMARY KEY in another table.

In [106]:
print("Snowflake / Hybrid Schema")

Snowflake / Hybrid Schema

In [108]:
print("ERD")
print("JOINS and UNIONS")
print("Bridge Tables")
print("Create Views")
print("Subqueries")

ERD
JOINS and UNIONS
Bridge Tables
Create Views
Subqueries

In [109]:
print(">>Creates a virtual table whose contents (columns and rows) are defined by a query.<<")
print("ينشئ جدولاً افتراضيًا يتم تحديد محتوياته (الأعمدة والصفوف) بواسطة استعلام.")

>>Creates a virtual table whose contents (columns and rows) are defined by a query.<<
ينشئ جدولاً افتراضيًا يتم تحديد محتوياته (الأعمدة والصفوف) بواسطة استعلام.

In [110]:
print("<<Relationship cardinality>>")
print("Many to One")
print("One to One")
print("Many to Many")

<<Relationship cardinality>>
Many to One
One to One
Many to Many

In [111]:
print("Internet Sales Schema")

Internet Sales Schema

In [112]:
print("Joins Combine two different tables into one.")

Joins Combine two different tables into one.

In [113]:
print("Inner Join")

Inner Join

In [114]:
print("Left Join")

Left Join

In [115]:
print("Right Join")

Right Join

In [116]:
print("Full Outer Join")

Full Outer Join

In [117]:
print(""" 
Select * 
From FactInternetSales AS fs
INNER JOIN DimCustomer AS dc
ON fs.CustomerKey = dc.CustomerKey;
""")

Select *
From FactInternetSales AS fs
INNER JOIN DimCustomer AS dc
ON fs.CustomerKey = dc.CustomerKey;

In [118]:
print("Select * CONCAT(dc.FirstName,' ',dc.LastName) As CustomerName")

Select * CONCAT(dc.FirstName,' ',dc.LastName) As CustomerName

In [119]:
print(
""" 
Select TOP(100)
CONCAT(dc.FirstName,' ',dc.LastName) As CustomerName
""")

Select TOP(100)
CONCAT(dc.FirstName,' ',dc.LastName) As CustomerName

In [120]:
print(">>From Inner Join ON Group BY Order By DESC<<")

>>From Inner Join ON Group BY Order By DESC<<

In [121]:
print("<<Order of Operators>>")
print("(FROM & JOIN)>>(Where)>>(Group By)>>(Having)>>(Select & Top)>>(Order By)")

<<Order of Operators>>
(FROM & JOIN)>>(Where)>>(Group By)>>(Having)>>(Select & Top)>>(Order By)

In [122]:
print("ٍSelect TOP(100)")

ٍSelect TOP(100)

In [123]:
print("Bridge Tables")

Bridge Tables

In [124]:
print(">>SQL Joins (Inner, Left, Right and Full Join)<<")

>>SQL Joins (Inner, Left, Right and Full Join)<<

In [125]:
print("UNION")

UNION

In [126]:
print("UNION ALL")

UNION ALL

In [127]:
print("Reseller Schema")

Reseller Schema

In [128]:
print("CROSS JOIN")

CROSS JOIN

In [129]:
print("Create View vwOrderALL AS")

Create View vwOrderALL AS

In [130]:
print("Create View vwOrdersALL AS")

Create View vwOrdersALL AS

In [131]:
print("Select * From vwOrdersALL")

Select * From vwOrdersALL

In [132]:
print("Where OrderDate = (Select MAX(OrderDate) FROM vwOrdersALL)")

Where OrderDate = (Select MAX(OrderDate) FROM vwOrdersALL)

In [133]:
print("CONCAT(de.FirstName,' ',de.LastName) AS EmployeeName")

CONCAT(de.FirstName,' ',de.LastName) AS EmployeeName

In [134]:
print("SQL for Reporting")

SQL for Reporting

In [135]:
print("Query SQL in Power BI")

Query SQL in Power BI

In [136]:
print("Query SQL in Excel")

Query SQL in Excel

In [137]:
print("Query SQL in Tableau")

Query SQL in Tableau

In [138]:
print("Create a summary with CUBE Function")

Create a summary with CUBE Function

In [139]:
print("Create a summary with ROLLUP Function")

Create a summary with ROLLUP Function

In [1]:
print("Calculate % of Total","حساب النسبة المئوية من الإجمالي")

Calculate % of Total حساب النسبة المئوية من الإجمالي

In [2]:
print(""" 
Select
Region,
ProductCategory,
SUM(SalesAmount) AS TotalSales
FROM vwOrderALL
Where YEAR(OrderDate) = 2013
AND Currency = N'US Dollar'
GROUP BY Region, ProductCategory;
""")

Select
Region,
ProductCategory,
SUM(SalesAmount) AS TotalSales
FROM vwOrderALL
Where YEAR(OrderDate) = 2013
AND Currency = N'US Dollar'
GROUP BY Region, ProductCategory;

In [3]:
print("Group BY CUBE(Region,ProductCategory)")

Group BY CUBE(Region,ProductCategory)

In [4]:
print("Group By Rollup(ProductCategory,ProductSubCategory)")

Group By Rollup(ProductCategory,ProductSubCategory)

In [5]:
print("Where Country = N'United States' AND Source <> N'Web'")

Where Country = N'United States' AND Source <> N'Web'

In [6]:
print("Finance Schema")

Finance Schema

In [7]:
print("""Select
ff.Amount AS Amt
FROM FactFinance AS ff
INNER JOIN DimScenario AS s
ON ff.ScenarioKey = s.ScenarioKey;
""")

Select
ff.Amount AS Amt
FROM FactFinance AS ff
INNER JOIN DimScenario AS s
ON ff.ScenarioKey = s.ScenarioKey;

In [8]:
print(">>>Financial Statements in Power BI<<<","القوائم المالية في Power BI")

>>>Financial Statements in Power BI<<< القوائم المالية في Power BI